$size: 300px;

.container {
  text-align: center;
}

.logo {
  position: absolute;
  height: 100%;
  width: $size;
  top: 50%;
  left: 50%;
  margin-top: -$size / 2;
  margin-left: -$size / 2;
}

.logoContainer {
  height: $size;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
