// COLORS
$color-blue: #42afe3;
$color-next-background: #e8e300;
$color-section-alternate: #f4f4f4;

// DIMENSIONS
$dimension-main-padding: 64px;
$dimension-radius: 8px;
$dimension-ripple: 42px;

// Bulma overrides
$blue: $color-blue;
